<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main class="main">
                <img class="banner-video" src="/images/banner.JPG" alt="">
                <div class="description-teal">
                    <h2 class="description-teal__title">¿Quiénes somos?</h2>
                    <div class="container-img-paragraph">
                        <p class="description-teal__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Quibusdam
                            architecto voluptates quod hic
                            voluptas illo accusantium odio labore, aliquid doloremque nulla ipsa atque quae eligendi
                            nisi iste
                            odit
                            doloribus quam!</p>
                        <img class="description-teal__img-team" src="/images/team.JPG" alt="">
                    </div>
                </div>
                <h2 class="brands-title">Nuestras marcas</h2>
                <section class="brands__container">
                    <div>
                        <input class="checkbox1" type="checkbox" id="brands__original">
                        <label for="brands__original">
                            <div class="container-img">
                                <img class="brands__original" src="/images/tealOriginal.jpg"
                                    alt="logo marca TEAL ORIGINAL">
                                <div>
                                    <i class="fa-solid fa-chevron-down down-arrow-original"></i>
                                </div>

                            </div>
                        </label>
                        <p class="brand_description1">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Corporis, earum
                            tempora. Id in culpa voluptatum
                            omnis voluptas optio odio et possimus nobis cupiditate, facere hic perspiciatis consequuntur
                            reiciendis
                            ipsa eos.
                        </p>
                    </div>
                    <div>
                        <input class="checkbox2" type="checkbox" id="brands__basics">
                        <label for="brands__basics">
                            <div class="container-img">
                                <img class="brands__basics" src="/images/tealBasics.jpg" alt="logo marca TEAL ORIGINAL">
                                <div>
                                    <i class="fa-solid fa-chevron-down down-arrow-basics"></i>
                                </div>
                            </div>
                        </label>
                        <p class="brand_description2">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Corporis, earum
                            tempora. Id in culpa voluptatum
                            omnis voluptas optio odio et possimus nobis cupiditate, facere hic perspiciatis consequuntur
                            reiciendis
                            ipsa eos.</p>
                    </div>
                </section>
            </main>
            <%- include('../partials/footer') %>
    </body>

    </html>