<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <form action="">
        //
        <label for=""></label>
        <input type="text">
        //
        <label for=""></label>
        <input type="text">
        //
        <label for=""></label>
        <input type="text">
        //
        <label for=""></label>
        <input type="text">
    </form>
    <%- include('../partials/footer') %>
    
</body>
</html>