<%- include('../partials/head') %>

    <body>
        <%- include('../partials/headerHome') %>
            <!-- ------------aquí está contenida la imagen principal-------------- -->
            <section class="ImageContainer">
                <div class="image">
                    <nav classs="principal">
                        <ul class="ChooseCollection">
                            <li><a class="collections" href="/submarcas">TEAL <br> ORIGINAL</a></li>
                            <li><a class="collections" href="/nosotros">TEAL <br> GROUP</a></li>
                            <li><a class="collections" href="/submarcas">TEAL <br> BASICS</a></li>
                        </ul>
                    </nav>
                </div>
            </section>


            <section class="FeaturedProducts">
                <div class="TitleContainer">
                    <h2 class="SectionTitle">
                        PRODUCTOS DESTACADOS
                    </h2>
                </div>
                <div class="cards">
                    <a class="plink" href="/detalle">
                        <div class="card">
                            <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                            <img class="img-card" src="/images/1.png" alt="Prenda Vestir">
                            <div class="description">
                                <p class="price">$80.000</p>
                                <p class="product">Camiseta Thermal</p>
                            </div>
                        </div>
                    </a>

                    <a class="plink" href="/detalle">
                        <div class="card">
                            <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                            <img class="img-card" src="/images/2.png" alt="Prenda Vestir">
                            <div class="description">
                                <p class="price">$115.000</p>
                                <p class="product">Sudadera Thermal</p>
                            </div>
                        </div>
                    </a>

                    <a class="plink" href="/detalle">
                        <div class="card">
                            <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                            <img class="img-card" src="/images/3.png" alt="Prenda Vestir">
                            <div class="description">
                                <p class="price">$100.000</p>
                                <p class="product">Hoodie Thermal</p>
                            </div>
                        </div>
                    </a>

                    <a class="plink" href="/detalle">
                        <div class="card">
                            <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                            <img class="img-card" src="/images/4.png" alt="Prenda Vestir">
                            <div class="description">
                                <p class="price">$100.000</p>
                                <p class="product">Crewneck Thermal</p>
                            </div>
                        </div>
                    </a>

                    <a class="plink" href="/detalle">
                        <div class="card">
                            <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                            <img class="img-card" src="/images/5.png" alt="Prenda Vestir">
                            <div class="description">
                                <p class="price">$100.000</p>
                                <p class="product">Pañoleta Thermal</p>
                            </div>
                        </div>
                    </a>

                    <a class="plink" href="/detalle">
                        <div class="card">
                            <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                            <img class="img-card" src="/images/6.png" alt="Prenda Vestir">
                            <div class="description">
                                <p class="price">$100.000</p>
                                <p class="product">Camiseta Negra</p>
                            </div>
                        </div>
                    </a>

                    <a class="plink" href="/detalle">
                        <div class="card">
                            <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                            <img class="img-card" src="/images/7.png" alt="Prenda Vestir">
                            <div class="description">
                                <p class="price">$100.000</p>
                                <p class="product">Camiseta Negra</p>
                            </div>
                        </div>
                    </a>

                    <a class="plink" href="/detalle">
                        <div class="card">
                            <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                            <img class="img-card" src="/images/8.png" alt="Prenda Vestir">
                            <div class="description">
                                <p class="price">$100.000</p>
                                <p class="product">Camiseta Negra</p>
                            </div>
                        </div>
                    </a>

                </div>
            </section>
            <%- include('../partials/footerHome') %>
    </body>


    </html>