<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <div class="route">
                    <ul class="productRoute">
                        <li><a href="/">Home</a></li>
                        <li>/</li>
                        <li><a href="/subamarcas">Marca</a></li>
                        <li>/</li>
                        <li><a href="#">Mujer</a></li>
                        <li>/</li>
                        <li><a href="#">Camiseta Thermal</a></li>
                    </ul>
                </div>

                <!-- ------------Informaci贸n de producto-------------- -->

                <section class="productDescription">
                    <!-- <div class="carousel">
                <div class="big">
                    <img src="/images/camisetaThermal.png" alt="image1" class="img">
                    <img src="/images/back.png" alt="image2" class="img">
                    <img src="/images/front.png" alt="image3" class="img">
                    <img src="/images/side.png" alt="image4" class="img">
                    <img src="/images/tealFront.png" alt="image5" class="img">
                </div>

                <ul class="points">
                    <li class="point"></li>
                    <li class="point"></li>
                    <li class="point"></li>
                    <li class="point"></li>
                    <li class="point"></li>
                </ul>
            </div> -->
                    <div class="productsImages">
                        <img class="productImage1" src="/images/camisetaThermal.png" alt="Camiseta Thermal">
                        <img class="productImage2" src="/images/front.png" alt="Thermal front">
                        <img class="productImage3" src="/images/back.png" alt="Thermal back">
                        <img class="productImage4" src="/images/side.png" alt="Thermal side">
                    </div>

                    <div class="descriptionSection">
                        <h2 class="productTittle">Camiseta Thermal</h2>
                        <h3 class="price">$80.000</h3>
                        <h3 class="description">Descripci贸n del producto</h3>
                        <p class="textDescription">Camiseta en algod贸n peruano, con estampado delantero y detalles SIDE
                            BACK
                            FRONT</p>
                        <div class="color">
                            <p class="color1">PP</p>
                            <p class="color2">PP</p>
                        </div>
                        <h3 class="size">Talla</h3>
                        <ul class="productSize">
                            <li>XS</li>
                            <li>S</li>
                            <li>M</li>
                            <li>L</li>
                            <li>XL</li>
                        </ul>
                        <h3 class="amount">Cantidad</h3>
                        <button class="buttonCar">Agregar al carrito</button>
                        <br>
                        <hr class="line">
                        <h3 class="collectionInformation">Acerca de esta colecci贸n</h3>
                        <p class="textCollection">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iste
                            obcaecati
                            omnis excepturi tempore. Incidunt quas laudantium quasi autem! Placeat, reprehenderit unde
                            quae
                            assumenda aperiam voluptatibus labore enim exercitationem neque?</p>
                    </div>
                </section>

                <!-- ------------Productos relacionados-------------- -->

                <section>
                    <h3 class="perfectLook">Arma tu look perfecto</h3>
                    <div class="cards">
                        <div class="card">
                            <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                            <img class="img-card" src="/images/2.png" alt="Prenda Vestir">
                        </div>
                        <div class="card">
                            <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                            <img class="img-card" src="/images/3.png" alt="Prenda Vestir">
                        </div>
                        <div class="card">
                            <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                            <img class="img-card" src="/images/4.png" alt="Prenda Vestir">
                        </div>
                        <div class="card">
                            <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                            <img class="img-card" src="/images/5.png" alt="Prenda Vestir">
                        </div>
                    </div>
                    <img class="EndImage" src="images/lookCompletoMujer.JPG" alt="Look Mujer">
                </section>
            </main>
            <%- include('../partials/footer') %>
    </body>

    </html>