<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/338760936c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="stylesheet" href="../public/css/footer.css">
    <link rel="stylesheet" href="../public/css/carritoCompras.css">
</head>

<body>
    <!-- ------------HEADER-------------- -->
    <header class="header">
        <img class="menu" src="../public/images/isotipoMenu.png" alt="Isotipo con función de menú">
        <img class="logo" src="../public/images/logoTeal.png" alt="Logo marca TEAL">
        <div class="container-icons">
            <img class="outstanding" src="../public/images/destacado.jpg" alt="Destacado">
            <img class="bag" src="../public/images/bolsa.png" alt="Bolsa de compra">
            <img class="profile" src="../public/images/user.png" alt="Perfil usuario">
        </div>
    </header>
    <!-- ------------MAIN-------------- -->
    <main>
        <section class="section">
            <div class="titles">
                <h2>Producto</h2>
                <h2>Precio</h2>
            </div>
            <div class="container-card">
                <img class="container-card__img" src="../public/images/img.png" alt="Producto">
                <div class="container-card__caracteristics">
                    <p>Tipo de producto</p>
                    <p>Talla M</p>
                    <i class="fa-solid fa-trash-can"></i>
                </div>
                <div class="container-card__price-amount">
                    <p>CO$100.000</p>
                    <div class="container-card__amount">
                        <i class="fa-solid fa-chevron-left"></i>
                        <p>1</p>
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                </div>
            </div>
            <div class="container-card">
                <img class="container-card__img" src="../public/images/img.png" alt="Producto">
                <div class="container-card__caracteristics">
                    <p>Tipo de producto</p>
                    <p>Talla M</p>
                    <i class="fa-solid fa-trash-can"></i>
                </div>
                <div class="container-card__price-amount">
                    <p>CO$100.000</p>
                    <div class="container-card__amount">
                        <i class="fa-solid fa-chevron-left"></i>
                        <p>1</p>
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                </div>
            </div>
            <div class="container-shipping">
                <h4>Envío</h4>
                <h4>$0</h4>
            </div>
            <div class="container-subtotal">
                <h4>Subtotal</h4>
                <h4>$200.000</h4>
            </div>
            <hr class="line">
            <button class="btn-pay">PAGAR</button>
            <button class="btn-buy">
                <i class="fa-solid fa-bag-shopping"></i>
                Seguir comprando
            </button>
        </section>
        <!-- ------------FOOTER-------------- -->
        <footer class="footer">
            <!-- Este div con clase follow-me, es para cuando tengamos que trabajar en desktop -->
            <div class="follow-me">
                <h4 class="follow-me__title">Síguenos</h4>
                <ul class="follow-me__icon">
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-spotify"></i></li>
                    <li><i class="fa-brands fa-youtube"></i></li>
                </ul>
            </div>
            <!-- Este div con clase contact, es para cuando tengamos que trabajar en desktop -->
            <div class="contact">
                <h4 class="contact__title">Contáctanos</h4>
                <ul class="contact__icon">
                    <li><i class="fa-solid fa-comment-dots"></i></li>
                    <li><i class="fa-brands fa-whatsapp"></i></li>
                </ul>
                <textarea class="contact__suggestion" name="" id="" cols="30" rows="2"
                    placeholder="Déjanos tu sugerencia"></textarea> </textarea>
            </div>
            <div class="container-us-brands">
                <div class="us">
                    <h4 class="us__title">Sobre nosotros</h4>
                    <p>TEAL GROUP</p>
                    <p>Cultura</p>
                    <p>Trabaja con nosotros</p>
                </div>
                <div class="brands">
                    <h4 class="brands__title">Marcas</h4>
                    <p>ORIGINAL</p>
                    <p>BASICS</p>
                    <p>CLASSICS</p>
                    <p>SKETCHES</p>
                </div>
            </div>
            <div class="copyright">
                <p>©Copyright 2022 TEAL all rights reserved</p>
                <p>TEAL SAS | NUM-NUM</p>
            </div>
        </footer>
</body>

</html>