<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/338760936c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/submarcas.css">
    <link rel="stylesheet" href="/css/descripcionProducto.css">
</head>

<body>
    <!-- ------------HEADER-------------- -->
    <header class="header">
        <input class="menu-isotipo" type="checkbox" id="menu-isotipo">
        <label for="menu-isotipo">
            <img class="menu" src="/images/isotipo-menu.png" alt="Isotipo con función de menú">
        </label>
        <ul class="menu-isotipo__dropdown">
            <li>
                <a href="/nosotros" class="menu-isotipo__option">SOBRE NOSOTROS</a>
            </li>
            <li>
                <a href="/submarcas" class="menu-isotipo__option">ORIGINAL</a>
            </li>
            <li>
                <a href="/submarcas" class="menu-isotipo__option">BASICS</a>
            </li>
        </ul>

        <a href="/" class="logo">
            <img class="logo-img" src="/images/logoTeal.png" alt="Logo marca TEAL">
        </a>
        <div class="container-icons">
            <a href="#">
                <img class="outstanding" src="/images/destacado-negro.png" alt="Destacado">
            </a>
            <a href="/carrito">
                <img class="bag" src="/images/bolsa.png" alt="Bolsa de compra">
            </a>
        </div>
        <input class="menu-profile" type="checkbox" id="menu-profile">
        <label for="menu-profile">
            <img class="profile" src="/images/user.png" alt="Perfil usuario">
        </label>
        <ul class="menu-profile__dropdown">
            <li>
                <a href="/ingresar" class="menu-profile__option">INGRESAR</a>
            </li>
            <li>
                <a href="/registro" class="menu-profile__option">CREAR CUENTA</a>
            </li>
        </ul>
    </header>
    <!-- ------------MAIN-------------- -->
    <main>
        <div class="route">
            <ul class="productRoute">
                <li><a href="#">Home</a></li>
                <li>/</li>
                <li><a href="#">Marca</a></li>
                <li>/</li>
                <li><a href="#">Mujer</a></li>
                <li>/</li>
                <li><a href="#">Camiseta Thermal</a></li>
            </ul>
        </div>

<!-- ------------Información de producto-------------- -->

        <section class="productDescription">
            <div class="carousel">
                <div class="big">
                    <img src="#" alt="image1" class="img">
                    <img src="#" alt="image2" class="img">
                    <img src="#" alt="image3" class="img">
                    <img src="#" alt="image4" class="img">
                    <img src="#" alt="image5" class="img">
                </div>

                <ul class="points">
                    <li class="point"></li>
                    <li class="point"></li>
                    <li class="point"></li>
                    <li class="point"></li>
                    <li class="point"></li>
                </ul>
            </div>
            <img class="productImage" src="/images/camisetaThermal.png" alt="Camiseta Thermal">
            <h2 class="productTittle">Camiseta Thermal</h2>
            <h3 class="price">$80.000</h3>
            <h3 class="description">Descripción del producto</h3>
            <p class="textDescription">Camiseta en algodón peruano, con estampado delantero y detalles SIDE BACK FRONT</p>
            <div class="color">
                <p class="color1">PP</p>
                <p class="color2">PP</p>
            </div>
            <h3 class="size">Talla</h3>
            <ul class="productSize">
                <li>XS</li>
                <li>S</li>
                <li>M</li>
                <li>L</li>
                <li>XL</li>
            </ul>
            <h3 class="amount">Cantidad</h3>
            <button class="buttonCar">Agregar al carrito</button>
            <br>
            <h3 class="collectionInformation">Acerca de esta colección</h3>
            <p class="textCollection">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iste obcaecati omnis excepturi tempore. Incidunt quas laudantium quasi autem! Placeat, reprehenderit unde quae assumenda aperiam voluptatibus labore enim exercitationem neque?</p>
            <hr class="line">
        </section>

<!-- ------------Productos relacionados-------------- -->

        <section>
            <h3 class="perfectLook">Arma tu look perfecto</h3>
            <div class="cards">
                <div class="card">
                    <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado"> 
                    <img class="img-card" src="/images/2.png" alt="Prenda Vestir">
                </div>
                <div class="card">
                    <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                    <img class="img-card" src="/images/3.png" alt="Prenda Vestir">
                </div>
                <div class="card">
                    <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                    <img class="img-card"src="/images/4.png" alt="Prenda Vestir">
                </div>
                <div class="card">
                    <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                    <img class="img-card"src="/images/5.png" alt="Prenda Vestir">
                </div>
            </div>
            <img src="images/lookCompletoMujer.JPG" alt="Look Mujer">
        </section>
    </main>
        <!-- ------------FOOTER-------------- -->
        <footer class="footer">
            <!-- Este div con clase follow-me, es para cuando tengamos que trabajar en desktop -->
            <div class="follow-me">
                <h4 class="follow-me__title">Síguenos</h4>
                <ul class="follow-me__icon">
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-spotify"></i></li>
                    <li><i class="fa-brands fa-youtube"></i></li>
                </ul>
            </div>
            <!-- Este div con clase contact, es para cuando tengamos que trabajar en desktop -->
            <div class="contact">
                <h4 class="contact__title">Contáctanos</h4>
                <ul class="contact__icon">
                    <li><i class="fa-solid fa-comment-dots"></i></li>
                    <li><i class="fa-brands fa-whatsapp"></i></li>
                </ul>
                <textarea class="contact__suggestion" name="" id="" cols="30" rows="2"
                    placeholder="Déjanos tu sugerencia"></textarea> </textarea>
            </div>
            <div class="container-us-brands">
                <div class="us">
                    <h4 class="us__title">Sobre nosotros</h4>
                    <p>TEAL GROUP</p>
                    <p>Cultura</p>
                    <p>Trabaja con nosotros</p>
                </div>
                <div class="brands">
                    <h4 class="brands__title">Marcas</h4>
                    <p>ORIGINAL</p>
                    <p>BASICS</p>
                    <p>CLASSICS</p>
                    <p>SKETCHES</p>
                </div>
            </div>
            <div class="copyright">
                <p>©Copyright 2022 TEAL all rights reserved</p>
                <p>TEAL SAS | NUM-NUM</p>
            </div>
        </footer>
</body>

</html>