<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/338760936c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/submarcas.css">
</head>

<body>
    <!-- ------------HEADER-------------- -->
    <header class="header">
        <img class="menu" src="/images/logo triqueta negro_Mesa de trabajo 1.png" alt="Isotipo con función de menú">
        <img class="logo" src="/images/logoTeal.png" alt="Logo marca TEAL">
        <div class="container-icons">
            <img class="outstanding" src="/images/destacado.jpg" alt="Destacado">
            <img class="bag" src="/images/bolsa.png" alt="Bolsa de compra">
            <img class="profile" src="/images/user.png" alt="Perfil usuario">
        </div>
    </header>
    <!-- ------------MAIN-------------- -->
    <main>
        <div class="gender">
            <button class="btn-man">Hombre</button>
            <button class="btn-women">Mujer</button>
        </div>

        <p class="filter-products">Ordenar por</p>
        <div class="filter-price">
            <button class="name">Nombre</button>
            <button class="filter-price-less">Precio menor a mayor</button>
            <button class="filter-price-more">Precio mayor a menor</button>
        </div>
        <div class="cards">
            <div class="card">
                <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                <img class="img-card"src="/images/1.png" alt="Prenda Vestir">
                <div class="description">
                    <p class="price">$80.000</p>
                    <p class="product">Camiseta Thermal</p>
                </div>
            </div>
            <div class="card">
                <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado"> 
                <img class="img-card" src="/images/2.png" alt="Prenda Vestir">
                <div class="description">
                    <p class="price">$115.000</p>
                    <p class="product">Sudadera Thermal</p> 
                </div>
            </div>
            <div class="card">
                <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                <img class="img-card" src="/images/3.png" alt="Prenda Vestir">
                <div class="description">
                    <p class="price">$100.000</p>
                    <p class="product">Hoodie Thermal</p>
                </div>
            </div>
            <div class="card">
                <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                <img class="img-card"src="/images/4.png" alt="Prenda Vestir">
                <div class="description">
                    <p class="price">$100.000</p>
                    <p class="product">Crewneck Thermal</p>
                </div>
            </div>
            <div class="card">
                <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                <img class="img-card"src="/images/5.png" alt="Prenda Vestir">
                <div class="description">
                    <p class="price">$100.000</p>
                    <p class="product">Pañoleta Thermal</p>
                </div>
            </div>
            <div class="card">
                <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                <img class="img-card"src="/images/6.png" alt="Prenda Vestir">
                <div class="description">
                    <p class="price">$100.000</p>
                    <p class="product">Camiseta Negra</p>
                </div>
            </div>
            <div class="card">
                <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                <img class="img-card"src="/images/7.png" alt="Prenda Vestir">
                <div class="description">
                    <p class="price">$100.000</p>
                    <p class="product">Camiseta Negra</p>
                </div>
            </div>
            <div class="card">
                <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                <img class="img-card"src="/images/8.png" alt="Prenda Vestir">
                <div class="description">
                    <p class="price">$100.000</p>
                    <p class="product">Camiseta Negra</p>
                </div>
            </div>
            <div>
                <img src="/images/DSC07629.JPG" alt="imagen publicitaria">
            </div>
        </div>
        
    </main>
       
        <!-- ------------FOOTER-------------- -->
        <footer class="footer">
            <!-- Este div con clase follow-me, es para cuando tengamos que trabajar en desktop -->
            <div class="follow-me">
                <h4 class="follow-me__title">Síguenos</h4>
                <ul class="follow-me__icon">
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-spotify"></i></li>
                    <li><i class="fa-brands fa-youtube"></i></li>
                </ul>
            </div>
            <!-- Este div con clase contact, es para cuando tengamos que trabajar en desktop -->
            <div class="contact">
                <h4 class="contact__title">Contáctanos</h4>
                <ul class="contact__icon">
                    <li><i class="fa-solid fa-comment-dots"></i></li>
                    <li><i class="fa-brands fa-whatsapp"></i></li>
                </ul>
                <textarea class="contact__suggestion" name="" id="" cols="30" rows="2"
                    placeholder="Déjanos tu sugerencia"></textarea> </textarea>
            </div>
            <div class="container-us-brands">
                <div class="us">
                    <h4 class="us__title">Sobre nosotros</h4>
                    <p>TEAL GROUP</p>
                    <p>Cultura</p>
                    <p>Trabaja con nosotros</p>
                </div>
                <div class="brands">
                    <h4 class="brands__title">Marcas</h4>
                    <p>ORIGINAL</p>
                    <p>BASICS</p>
                    <p>CLASSICS</p>
                    <p>SKETCHES</p>
                </div>
            </div>
            <div class="copyright">
                <p>©Copyright 2022 TEAL all rights reserved</p>
                <p>TEAL SAS | NUM-NUM</p>
            </div>
        </footer>
</body>

</html>