* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primaryFont: 'helvetica';
    --lgMobile: 1.2rem;
    --mdMobile: 1rem;
    --smMobile: 0.9rem;
    --ssmMobile: 0.7rem;
    --negro: #000000;
    --blanco: #fff;
    --gris: #d9d9d6;
    --teal: #008080;
    --tealOriginal: #d8fffc;
    --tealBasics: #f9f9f9;
}

main {
    font-family: var(--primaryFont);
}

.productRoute {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1.5rem;
}

.productRoute li {
    font-size: var(--smMobile);
}

a {
    color: var(--negro);
}
.carousel {
    
}

.productDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.productTittle {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    font-size: var(--lgMobile);
}

.price {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    font-size: var(--mdMobile);
}

.description {
    display: flex;
    justify-content: left;
    font-size: var(--mdMobile);
}

.textDescription {
    display: flex;
    justify-content: left;
    margin-bottom: 1rem;
    font-size: var(--smMobile);
}

.color {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.color1 {
    background-color: var(--negro);
    padding: 0.4rem;
    border: solid 1px var(--negro);
    border-radius: 50%;
    margin-right: 0.5rem;
}

.color2 {
    background-color: var(--blanco);
    padding: 0.4rem;
    border: solid 1px var(--negro);
    border-radius: 50%;
    margin-right: 0.5rem;
    color: var(--blanco);
}

.size {
    display: flex;
    justify-content: left;
    font-size: var(--mdMobile);
}

.productSize {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    list-style: none;
    font-weight: bold;
}

.productSize li {
    font-size: var(--mdMobile);
    margin: 0.2rem;
    padding: 0.4rem;
    margin-bottom: 0.8rem;
}

.amount {
    display: flex;
    justify-content: left;
    font-size: var(--mdMobile);
    margin-bottom: 0.8rem;
}

.buttonCar {
    display: flex;
    justify-content: center;
    width: 9rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border-radius: 4%;
    background-color: var(--negro);
    font-size: var(--smMobile);
    color: var(--blanco);
    margin-bottom: 1rem;
}

.collectionInformation {
    display: flex;
    justify-content: left;
    margin-bottom: 0.8rem;
    font-size: var(--mdMobile);
}

.textCollection {
    display: flex;
    justify-content: left;
    margin-bottom: 1.5rem;
    font-size: var(--smMobile);
}

.line {
    width: 90%;
    margin: 0 auto;
    background-color: var(--negro);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.perfectLook {
    display: flex;
    justify-content: center;
    margin-bottom: 0.8rem;
    font-size: var(--lgMobile);
}





.img-card{
    width: 90%;
}
.EndImage{
    width: 100%;
}

