main {
    font-family: var(--primaryFont);
}

.footer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica;
}

.follow-me__title {
    text-align: center;
    font-size: var(--smMobile);
    padding-bottom: 0.2rem;
}

.follow-me__icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding-top: 5px;
    gap: 20px;
    font-size: 1.5rem;
}

.contact__title {
    text-align: center;
    font-size: var(--smMobile);
    padding-top: 20px;
    padding-bottom: 0.2rem;
}

.contact__icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding-top: 5px;
    gap: 20px;
    font-size: 1.5rem;
}

.contact__suggestion {
    margin-top: 15px;
    padding-bottom: 2rem;
}

.contact__suggestion::placeholder{
    text-align: center;
    font-size: 0.8rem;
}

.container-us-brands {
    display: flex;
    gap: 40px;
}

.us {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 20px;
}

.us__title {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: var(--smMobile);
}

.us p{
    font-size: var(--ssmMobile);
}

.brands {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 20px;
}

.brands__title {
    padding-top: 20px;
    padding-bottom: 10px;
    ont-size: var(--smMobile);
}

.brands p{
    font-size: var(--ssmMobile);
}

.copyright {
    padding-top: 20px;
    text-align: center;
    font-size: var(--ssmMobile);
}