body{
    height:auto;
}
main {
  font-family: "roboto";
  background: var(--teal);
  background: -webkit-linear-gradient(
    to right,
    var(--teal),
    black
  ); 
  background: linear-gradient(
    to right,
    var(--teal),
    black
  ); 
  /* height: 880px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  text-align: center;
  font-weight: 700;
}
form {
  
}
.form {
    background: white; 
    padding: 40px 10px 30px 10px;
    box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin: 32px 0;
  
}
form .campo {
  position: relative;
  margin: 45px;
}
/* .campo-fecha{
    width:200px;
} */

input, select {
  background: none;
  color: var(--teal);
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--teal);
}
input:focus {
  outline: none;
  color: #5e5d5d;
}
label {
  color:var(--teal);
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.5s ease-in-out all;
  pointer-events: none;
}
input:focus ~ label,
input:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: black;
}
.barra {
  position: relative;
  display: block;
  width: 100%;
}
.barra::before {
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right,  black,var(--teal));
  transition: 0.3s ease width;
  left: 0;
}
input:focus ~ .barra::before {
  width: 100%;
}
button {
  font-family: "roboto";
  background: -webkit-linear-gradient(
    to right,
    black,var(--teal),
    
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, black,var(--teal));
  border: none;
  border-radius:5px;
  display:block;
  width: 80%;
  margin: 10px auto;
  color: white;
  height: 40px;
  font-size: 16px;
  cursor: pointer;  

}

@media screen and(max-width:550px){
    form{
        width: 80%;
    }
}
/* .form {
    margin-top: 0.625rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-top: 1.875rem;
    margin-bottom: 1rem;
    text-shadow: 0 0 0.1rem var(--negro);
}

.container-email:hover,
.container-password:hover {
    transform: scale(1.1);
}

.icon-email:hover,
.icon-password:hover {
    transform: scale(1.1);
    transition: all 400ms;
    color: var(--teal);
}

.container-email,
.container-password {
    width: 18rem;
    padding: 0.313rem;
    margin-top: 0.8rem;
    border: solid 0.063rem var(--negro);
    border-radius: 0.125rem;
    box-shadow: 0 0 0.188rem var(--negro);
    transition: all 600ms;
}

.container-email input,
.container-password input {
    border: none;
    outline: none;
}

.container-email input::placeholder,
.container-password input::placeholder {
    font-size: 0.9rem;
}

.recover-password:hover {
    transform: scale(1.1);
    transition: all 400ms;
    color: var(--teal);
}

.recover-password {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    text-decoration: underline;
    font-size: 0.8rem;
}

.enter-btn:hover {
    background-color: var(--teal);
    border: solid 0.2rem var(--blanco);
    transform: scale(1.1);
}

.enter-btn {
    width: 6rem;
    padding: 0.4rem;
    margin-top: 0.7rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: var(--negro);
    color: var(--blanco);
    transition: all 400ms;
}

.enter-facebook:hover,
.enter-google:hover {
    border: none;
    color: var(--blanco);
    background-color: var(--teal);
    transform: scale(1.1);
}

.enter-facebook,
.enter-google {
    width: 13rem;
    padding: 0.3rem;
    margin-top: 0.8rem;
    background-color: white;
    color: black;
    box-shadow: 0 0 0.3rem black;
    transition: all 400ms;
}

.line {
    width: 90%;
    margin: 0 auto;
    background-color: var(--negro);
    margin-top: 1rem;
    margin-bottom: 1rem;
} */
