.form {
    margin-top: 0.625rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-top: 1.875rem;
    margin-bottom: 1rem;
    text-shadow: 0 0 0.1rem var(--negro);
}

.container-email:hover,
.container-password:hover {
    transform: scale(1.1);
}

.icon-email:hover,
.icon-password:hover {
    transform: scale(1.1);
    transition: all 400ms;
    color: var(--teal);
}

.container-email,
.container-password {
    width: 18rem;
    padding: 0.313rem;
    margin-top: 0.8rem;
    border: solid 0.063rem var(--negro);
    border-radius: 0.125rem;
    box-shadow: 0 0 0.188rem var(--negro);
    transition: all 600ms;
}

.container-email input,
.container-password input {
    border: none;
    outline: none;
}

.container-email input::placeholder,
.container-password input::placeholder {
    font-size: 0.9rem;
}

.recover-password:hover {
    transform: scale(1.1);
    transition: all 400ms;
    color: var(--teal);
}

.recover-password {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    text-decoration: underline;
    font-size: 0.8rem;
}

.enter-btn:hover {
    background-color: var(--teal);
    border: solid 0.2rem var(--blanco);
    transform: scale(1.1);
}

.enter-btn {
    width: 6rem;
    padding: 0.4rem;
    margin-top: 0.7rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: var(--negro);
    color: var(--blanco);
    transition: all 400ms;
}

.enter-facebook:hover,
.enter-google:hover {
    border: none;
    color: var(--blanco);
    background-color: var(--teal);
    transform: scale(1.1);
}

.enter-facebook,
.enter-google {
    width: 13rem;
    padding: 0.3rem;
    margin-top: 0.8rem;
    background-color: white;
    color: black;
    box-shadow: 0 0 0.3rem black;
    transition: all 400ms;
}

.line {
    width: 90%;
    margin: 0 auto;
    background-color: var(--negro);
    margin-top: 1rem;
    margin-bottom: 1rem;
}