.form {
    margin-top: 0.6rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-top: 1.8rem;
    margin-bottom: 1rem;
    font-size: var( --lgMobile);
    text-shadow: 0 0 0.1rem var(--negro);
}

.container-email:hover,
.container-password:hover {
    transform: scale(1.1);
}

.icon-email:hover,
.icon-password:hover {
    transform: scale(1.1);
    transition: all 400ms;
    color: var(--teal);
}

.container-email,
.container-password {
    width: 18rem;
    padding: 0.3rem;
    margin-top: 0.8rem;
    border: solid 0.06rem var(--negro);
    border-radius: 0.1rem;
    box-shadow: 0 0 0.18rem var(--negro);
    transition: all 600ms;
}

.container-email input,
.container-password input {
    border: none;
    outline: none;
}

.container-email input::placeholder,
.container-password input::placeholder {
     font-size: var(--smMobile);
}

.recover-password:hover {
    transform: scale(1.1);
    transition: all 400ms;
    color: var(--teal);
}

.recover-password {
    margin-top: 0.62rem;
    margin-bottom: 0.625rem;
    text-decoration: underline;
    font-size: var(--ssmMobile);
}

.enter-btn:hover {
    background-color: var(--teal);
    border: solid 0.2rem var(--blanco);
    transform: scale(1.1);
}

.enter-btn {
    width: 6rem;
    padding: 0.4rem;
    margin-top: 0.7rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: var(--negro);
    font-size: var(--smMobile);
    font-family: var(--primaryFont);
    color: var(--blanco);
    transition: all 400ms;
}

.enter-facebook:hover,
.enter-google:hover {
    border: none;
    color: var(--blanco);
    background-color: var(--teal);
    transform: scale(1.1);
}

.enter-facebook,
.enter-google {
    width: 13rem;
    padding: 0.3rem;
    margin-top: 0.8rem;
    font-size: var(--smMobile);
    font-family: var(--primaryFont);
    background-color: var(--blanco);
    color: var(--negro);
    box-shadow: 0 0 0.3rem var(--negro);
    transition: all 400ms;
}

.line {
    width: 90%;
    margin: 0 auto;
    background-color: var(--negro);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media(min-width: 768px){
    .title {
        margin-top: 1.8rem;
        margin-bottom: 1.5rem;
        font-size: 2rem;
    }
    
    .container-email:hover,
    .container-password:hover {
        transform: scale(1.2);
    }
    
    .container-email,
    .container-password {
        width: 23rem;
        padding: 0.5rem;
        margin-top: 1rem;
        box-shadow: 0 0 0.50rem var(--negro);
    }
    
    .container-email input::placeholder,
    .container-password input::placeholder {
         font-size: var(--mdMobile);
    }
    
    .recover-password:hover {
        transform: scale(1.2);
    }
   
    .enter-btn:hover {
        transform: scale(1.2);
    }
    
    .enter-btn {
        width: 7rem;
    }
    
    .enter-facebook:hover,
    .enter-google:hover {
        transform: scale(1.2);
    }
    
    .enter-facebook,
    .enter-google {
        width: 15rem;
        margin-top: 1rem;
        font-size: var(--mdMobile);
    }
    
    .line {
        width: 90%;
        margin: 0 auto;
        background-color: var(--negro);
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}