.header {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    font-family: Helvetica;
}

@keyframes menu {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.menu {
    width: 2rem;
    animation: menu 6s linear infinite
}

.logo {
    width: 6rem;
    margin: 0 auto;
    align-items: center;
}

.container-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.outstanding {
    width: 1.3rem;
}

.bag {
    width: 1.3rem;
}

.profile {
    width: 1.3rem;
    height: 1.3rem;
    border: solid 0.1rem black;
    border-radius: 50%;
}

main img {
    width: 100%;
}