.header {
    padding: 0.6rem;
    display: flex;
    align-items: center;
}

.menu-isotipo,
.menu-profile {
    display: none;
}

.menu {
    width: 2rem;
    animation: menu 6s linear infinite;
}

.menu:hover {
    transform: scale(1.3);
    animation: none;
}

@keyframes menu {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.menu-isotipo__dropdown,
.menu-profile__dropdown {
    width: 100%;
    display: none;
    margin-right: 0.5rem;
}

.menu-isotipo__option,
.menu-profile__option {
    text-decoration: none;
    color: var(--blanco);
}

.menu-isotipo__option:hover,
.menu-profile__option:hover {
    color: var(--teal);
}

.menu-isotipo__dropdown li:hover,
.menu-profile__dropdown li:hover {
    transform: scale(1.1);
    font-weight: 700;
}

.menu-isotipo:checked~.menu-isotipo__dropdown,
.menu-profile:checked~label .menu-profile__dropdown {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    position: absolute;
    padding: 0.8rem;
    top: 3.5rem;
    left: 0;
    font-size: var(--smMobile);
    background-color: var(--negro);
    transition: all 400s;
}

.starSesion {
  margin-left: 5rem;
}

.logo {
    margin: 0 auto;
    align-items: center;
}

.logo-img {
    width: 6rem;
    transition: all 400ms;
}

.container-icons {
    display: flex;
    align-items: center;
    margin-right: 10rem;
    position: relative;
    gap: 0.9rem;
}

.outstanding,
.bag,
.profile {
    width: 1.3rem;
    transition: all 400ms;
}

.profile {
    margin-left: 0.9rem;
    margin-right: 0.3rem;
}

.logo-img:hover,
.outstanding:hover,
.bag:hover,
.profile:hover {
    transform: scale(1.3);
}

@media(min-width: 1024px) {
    .header {
        padding-bottom: 2.9rem;
    }

    .menu {
        width: 3rem;
    }

    .menu-isotipo:checked~.menu-isotipo__dropdown {
        justify-content: space-around;
    }

    .menu-isotipo__dropdown {
        display: flex;
        justify-content: space-around;
        list-style: none;
        position: absolute;
        padding: 0.9rem;
        top: 4.7rem;
        left: 0;
        font-size: var(--mdMobile);
        background-color: rgba(0, 0, 0, 0.3);
        transition: all 400s;
    }

    .logo-img {
        width: 9rem;
        margin-left: 9rem;
    }

    .menu-profile:checked~.menu-profile__dropdown {
        padding: 1rem;
        top: 5rem;
        font-size: var(--mdMobile);
    }



    .outstanding,
    .bag,
    .profile {
        width: 1.5rem;
    }

}
