.main{
    padding-bottom: 3rem;
}

.banner-video {
    width: 100%;
}

.description-teal__title {
    text-align: center;
    padding-top: 2.5rem;
}

.description-teal__paragraph {
    width: 90%;
    padding: 1.25rem;
    margin: 0 auto;
    font-size: var(--mdMobile);
}

.description-teal__img-team {
    width: 14rem;
    display: block;
    margin: 0 auto;
    transition: all 400ms;
}

.description-teal__img-team:hover{
    transform: scale(1.1);
    box-shadow: 0 0 0.5rem var(--negro);
}

.brands-title {
    text-align: center;
    padding-top: 2.5rem;
}

.checkbox1, .checkbox2{
    display: none;
}

.brands__container {
    margin-top: 1rem;
}

.brands__original {
    width: 100%;
    border-left: solid 4rem var(--negro);
    border-right: solid 4rem var(--negro);
    border-top: solid 1rem var(--negro);
    border-bottom: solid 2rem var(--negro);  
}

.container-img{
    position: relative;
}

.down-arrow-original{
    position: absolute;
    color: var(--blanco);
    bottom: 9px;
    right: calc(50% - 8px);
    font-size: 1.2rem;
    text-shadow: 0 0 0.5rem var(--blanco);
    transition: all 400ms;
}

.brands__basics {
    width: 100%;
    border-left: solid 4rem var(--blanco);
    border-right: solid 4rem var(--blanco);
    border-top: solid 1rem var(--blanco);
    border-bottom: solid 2rem var(--blanco); 
    margin-top: 2rem;
    position: relative;
}

.down-arrow-basics{
    position: absolute;
    color: var(--negro);
    bottom: 9px;
    right: calc(50% - 8px);
    font-size: 1.2rem;
    text-shadow: 0 0 0.5rem var(--negro);
    transition: all 400ms;
}

.down-arrow-basics:hover,
.down-arrow-original:hover {
    transform: scale(1.5);
}

.brand_description1, 
.brand_description2{
    display: none;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    font-size: var(--mdMobile);
}

.checkbox1:checked ~ .brand_description1,
.checkbox2:checked ~ .brand_description2{
    display: block;
}

@media(min-width: 700px){
    .description-teal__title {
        font-size: 2rem;
    }
    
    .description-teal__paragraph {
        width: 80%;
        font-size: var(--lgMobile);
    }
    
    .description-teal__img-team {
        margin-top: 2rem;
        width: 30rem;
    }
    
    .description-teal__img-team:hover{
        transform: scale(1.2);
    }

    .brands-title {
        padding-top: 4rem;
        padding-bottom: 3rem;
        font-size: 2rem;
    }
    
    .brands__container {
        margin-top: 1rem;
        display: flex;
    }
    
    .brands__original {
        border: solid 2rem var(--negro);
        padding: 0;
        margin: 0;
    }

    .brands__basics {
        border: solid 2rem var(--blanco);
        padding: 0;
        margin: 0;
    }
    
    .brand_description1, 
    .brand_description2{
        width: 100%;
        padding: 2rem;
        font-size: var(--lgMobile);
    }
    
}

@media(min-width: 1024px){
        .description-teal__title {
            font-size: 3rem;
            padding-bottom: 2rem;
        }
        
        .description-teal__paragraph {
            width: 70%;
            font-size: 1.5rem;
        }
        
        .description-teal__img-team {
            margin-top: 3rem;
            width: 40rem;
        }
    
        .brands-title {
            padding-top: 7rem;
            padding-bottom: 3rem;
            font-size: 3rem;
        }

        .brands__original {
            border: solid 6rem var(--negro);
            padding: 0;
            margin: 0;
        }
    
        .brands__basics {
            border: solid 6rem var(--blanco);
            padding: 0;
            margin: 0;
        }
}
