* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primaryFont: 'helvetica';
    --sizeTitle: 1.5rem;
    --sizeBody: 1rem;
    --negro: #000000;
    --blanco: #fff;
    --gris: #d9d9d6;
    --teal: #008080;
    --tealOriginal: #d8fffc;
    --tealBasics: #f9f9f9;
}

html{
    font-family: var(--primaryFont);
}
