* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primaryFont: 'helvetica';
    --lgMobile: 1.2rem;
    --mdMobile: 1rem;
    --smMobile: 0.9rem;
    --ssmMobile: 0.8rem;
    --negro: #000000;
    --blanco: #fff;
    --gris: #d9d9d6;
    --teal: #008080;
    --tealOriginal: #d8fffc;
    --tealBasics: #f9f9f9;
}
html{
    font-family: var(--primaryFont);
}

.errors {
    background-color: var(--teal);
}

.errors p {
    padding: 3px 3px;
    color: #fff;
    text-align: center;
    font-size: 15px;
}