* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primaryFont: 'helvetica';
    --lgMobile: 1.2rem;
    --mdMobile: 1rem;
    --smMobile: 0.9rem;
    --ssmMobile: 0.8rem;
    --negro: #000000;
    --blanco: #fff;
    --gris: #d9d9d6;
    --teal: #008080;
    --tealOriginal: #d8fffc;
    --tealBasics: #f9f9f9;
}
html{
    font-family: var(--primaryFont);
}

.errors {
    margin-bottom: 10px;
    background-color: red;
}

.errors p {
    padding: 10px 10px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
}