<body>
    <footer class="footer">
        <!-- Este div con clase follow-me, es para cuando tengamos que trabajar en desktop -->
        <div class="footerInformation">
            <div class="follow-me">
                <h4 class="follow-me__title">Síguenos</h4>
                <ul class="follow-me__icon">
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-spotify"></i></li>
                    <li><i class="fa-brands fa-youtube"></i></li>
                </ul>
            </div>
            <!-- Este div con clase contact, es para cuando tengamos que trabajar en desktop -->
            <div class="contact">
                <h4 class="contact__title">Contáctanos</h4>
                <ul class="contact__icon">
                    <li><i class="fa-solid fa-comment-dots"></i></li>
                    <li><i class="fa-brands fa-whatsapp"></i></li>
                </ul>
                <textarea class="contact__suggestion" name="" id="" cols="30" rows="2"
                    placeholder="Déjanos tu sugerencia"></textarea> </textarea>
            </div>
            <div class="container-us-brands">
                <div class="us">
                    <h4 class="us__title">Sobre nosotros</h4>
                    <p>TEAL GROUP</p>
                    <p>Cultura</p>
                    <p>Trabaja con nosotros</p>
                </div>
                <div class="brands">
                    <h4 class="brands__title">Marcas</h4>
                    <p>ORIGINAL</p>
                    <p>BASICS</p>
                    <p>CLASSICS</p>
                    <p>SKETCHES</p>
                </div>
            </div>
        </div>

        <div class="copyright">
            <p>©Copyright 2022 TEAL all rights reserved</p>
            <p>TEAL SAS | NUM-NUM</p>
        </div>
    </footer>
</body>