<body>
    <header class="header">
        <input class="menu-isotipo" type="checkbox" id="menu-isotipo">
        <label for="menu-isotipo">
            <img class="menu" src="/images/isotipo-menu.png" alt="Isotipo con función de menú">
        </label>
        <ul class="menu-isotipo__dropdown">
            <li>
                <a href="/aboutUs" class="menu-isotipo__option">SOBRE NOSOTROS</a>
            </li>
            <li>
                <a href="/products/brandOriginal" class="menu-isotipo__option">ORIGINAL</a>
            </li>
            <li>
                <a href="/products/brandBasics" class="menu-isotipo__option">BASICS</a>
            </li>
        </ul>

        <a href="/" class="logo">
            <img class="logo-img" src="/images/logoTeal.png" alt="Logo marca TEAL">
        </a>
        <div class="container-icons">
            <a href="#">
                <img class="outstanding" src="/images/corazon negro-02.png" alt="Destacado">
            </a>
            <a href="/products/bag">
                <img class="bag" src="/images/bolsa.png" alt="Bolsa de compra">
            </a>
        </div>
        <input class="menu-profile" type="checkbox" id="menu-profile">
        <label for="menu-profile">
            <img class="profile" src="/images/user.png" alt="Perfil usuario">
        </label>
        <a  href="/login" class="star">INICIAR SESIÓN</a>
        <ul class="menu-profile__dropdown">
            <li>
                <a href="/login" class="menu-profile__option">INGRESAR</a>
            </li>
            <li>
                <a href="/register" class="menu-profile__option">CREAR CUENTA</a>
            </li>
            <li>
              <a href="/userDetail" class="menu-profile__option">PERFIL</a>
          </li>
            <li>
                <a href="/products/adminProducts" class="menu-profile__option">EDITAR PRODUCTOS</a>
            </li>
        </ul>
    </header>
</body>
