<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main class="login-main">
                <form class="form" action="/login" method="POST">
                    <h2 class="title">Iniciar sesión</h2>
                    <div class="campo">
                        <input class="login_input" type="email" minlength="8" id="nombre" name="email" required /><span
                            class="barra"></span>
                        <label class="login-label">Correo electrónico</label>
                    </div>
                    <div class="campo">
                        <input class="login_input" type="password" minlength="8" id="nombre" name="pasword"
                            required /><span class="barra"></span>
                        <label class="login-label">Contraseña</label>
                    </div>
                    <button class="enter-btn" type="submit" id="enter">Ingresar</button>
                    <!-- <button class="enter-facebook" type="submit" id="enter">
                        Ingresar con Facebook
                    </button>
                    <button class="enter-google" type="submit" id="enter">
                        Ingresar con Google
                    </button> -->
                </form>
            </main>
            <%- include('../partials/footer') %>
    </body>

    </html>
