<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
      <section>
        <form class="passwordUpdateForm" action="/passwordUpdate" method="POST">
          <div class="campo">
            <input type="password" id="password" name="password" class="register_input" /><span
              class="barra"></span>
            <label class="register-label">Ingrese la contraseña nueva</label>
          </div>
          <div class="campo">
            <input type="password" id="repassword" name="repassword" class="register_input" /><span
              class="barra"></span>
            <label class="register-label">Confirme la contraseña nueva</label>
          </div>
          <button class="save-btn" type="submit">Guardar cambios</button>
        </form>
      </section>

      <%- include('../partials/footer') %>
  </body>

  </html>
